[submodule "externals/palette"]
	path = externals/palette
	url = git@github.com:Imageomics/Palette_Butterfly.git
[submodule "externals/color_correction"]
	path = externals/color_correction
	url = https://github.com/dazzafact/image_color_correction.git
[submodule "externals/pytorch_grad_cam"]
	path = externals/pytorch_grad_cam
	url = https://github.com/jacobgil/pytorch-grad-cam.git
[submodule "externals/color_calibration"]
	path = externals/color_calibration
	url = https://github.com/Imageomics/color-calibration
[externals]
	palette = main
