[submodule "externals/palette"]
	path = externals/palette
	url = git@github.com:Imageomics/Palette_Butterfly.git
[submodule "externals/color_correction"]
	path = externals/color_correction
	url = https://github.com/dazzafact/image_color_correction.git
